<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">

    <script src="public/components/angular/angular.js"></script>
    <!--<script src="public/components/angular-resource/angular-resource.js"></script>-->

    <script src="public/components/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" href="public/components/bootstrap/dist/css/bootstrap.css">
    <script src="public/components/bootstrap/dist/js/bootstrap.js"></script>

    <script src="public/app/app.module.js"></script>
    <script src="public/app/query.component.js"></script>
    <script src="public/app/results.component.js"></script>
</head>
<body>

<!--<query></query>-->
<results></results>

</body>
</html>